nav{
  background-color: royalblue;
  color: #fff;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
}
.App-link{
  color: #09d3ac;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
  background-color: lightblue;
  color: #000;
  margin-right: 10px;
  cursor: pointer;
}
nav li a {
  text-decoration: none;
  color: #000;
}